.l-msg-mainlist .message__new-message-bar {
	height: 26px;
}
.do-search {
	height: 25px;
}

.navi-icon em{
	padding-top:10px;
	top:70px;
	width:74px;
	}
.l-navigationHeader ul li a.is-active em,
.l-navigationHeader ul li a.is-active:hover em{
	top:81px;
	}
.l-navigationHeader ul li a.is-active .arrow{
	top:84px;
	}
	.l-navigationHeader .competitions em{
		left:0;
		}
	.l-navigationHeader .achievements em{
		left:0;
		}
		.l-navigationHeader ul li a .arrow{
			top:84px;
			}
		.l-navigationHeader .competitions .arrow{
			right:-15px;
			}
		.l-navigationHeader .help .arrow{
			right:7px;
			}